<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ name }} Images</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>

</head>
<body>

  <div class="container-fluid" id="content">
  <div class="row">
    <div class="col-md-3">
      <a href="/" class="col-md-3">
        <h2>
          Home
        </h2>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/floor/{{ floor_id }}">
        <h2>
          Floor Overview
        </h2>
      </a>
    </div>
  </div>

  <div class="row">
    <canvas id="main-canvas"></canvas>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary" id="prev-btn">Prev</button>
    <button type="button" class="btn btn-primary" id="save-btn" data-toggle="tooltip" title="Saved!" data-trigger="manual">Save</button>
    <button type="button" class="btn btn-primary" id="next-btn">Next</button>
    <button type="button" class="btn btn-primary" id="delete-btn">Delete Rect</button>
  </div>
  </div>

  <script type="text/javascript">

    var img_url = "{{ img }}";
    var img_data = {
      floor_id: img_url.split("/")[1],
      img_name: img_url.split("/")[2]
    };
    $.ajax({
      url: "{{ url_for('load_old_rects') }}",
      dataType: "json",
      type: "POST",
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify(img_data),
      success: (data) => {
        var blurrer = new Blurrer(img_url, data);
        set_up_connections(img_url, "{{ url_for('get_prev') }}", "{{ url_for('save') }}", "{{ url_for('get_next') }}", blurrer);
      },
      error: (err) => {
        console.log(err);
      }
    });


  </script>
</body>
</html>