<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ floor_id }} Images</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>

  <div class="container-fluid" id="content">

    {% for item in images %}
      <div class="row align-items-start" >
        <div class="col-md-2">
          <h3>
          {{ item.img_name }}
          </h3>
        </div>
        <div class="col-md-6" >
          <img src="/{{ item.url }}" style="width: 100%; height: 100%;"/>
        </div>
        {% if blurable %}
          <div class="col-md-3">
            <a href="/blur/{{ item.url }}">
              <h2>
                Blur {{ item.img_name }}
              </h2>
            </a>
          </div>
        {% endif %}
      </div>

    {% endfor %}
  </div>

</body>
</html>